/backend/app/__pycache__
/backend/app/routes/__pycache__
/backend/venv
*.Identifier
backend/project-*.json
mobile/*-firebase-adminsdk-*.json
__pycache__/
*.env
.env
.coverage
*.pem
!com.tesla.3p.public-key.pem
*.png
*.json
!mobile/*.json
!mobile/tsconfig.json
!telemetry/server_config.json
mobile/tesla-nord-pool-firebase-adminsdk-fbsvc-6c059a1a18.json
